<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
</head>
<body class="{{ state }}">
<span class="header_text">Password Kitchen</span>

<div class="grid_container1">
    <div id="first_grid">
        <form action="/hash" method="post">
            <label><span class="card_text">Hash</span>
                <input type="text" name="password1" placeholder="password">
                <button type="submit"><span class="button_text">Hash it!</span></button>
                <textarea rows="10" disabled placeholder="hash">{{ hash_password }}</textarea>
            </label>

        </form>
    </div>


    <div id="second_grid">
        <form action="/verify" method="post">
            <label><span class="card_text">Password</span>
                <input type="text" name="password2" placeholder="password">
                <textarea placeholder="hash" rows="10" name="hashed">{{ hash_password }}</textarea>
                <button type="submit"><span class="button_text">Verify it!</span></button>
                <span class="message_text" id="{{ state }}">{{ message }}</span>
        </label>
    </form>
</div>
</div>

</body>
</html>